<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Introduction $introduction
 */
?>
<nav class="large-2 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Introduction'), ['action' => 'edit', $introduction->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Introduction'), ['action' => 'delete', $introduction->id], ['confirm' => __('Are you sure you want to delete # {0}?', $introduction->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Introductions'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Introduction'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="introductions view large-10 medium-8 columns content">
    <h3><?= h($introduction->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($introduction->id) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Content') ?></h4>
        <?= $this->Text->autoParagraph(h($introduction->content)); ?>
    </div>
</div>
